@import url("utils.css");

/*======================= All ======================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family), sans-serif;
    letter-spacing: 2px;
}

body {
    background-image: radial-gradient(circle, var(--color-border) 1px, transparent 2px);
    background-size: 30px 30px;
    animation: moveDots 5s linear infinite;
    background-color: var(--color-background);
    color: var(--color-primary);
}

@keyframes moveDots {
    from { background-position: 0 0; }
    to { background-position: 60px 60px; }
}

/*======================= Navbar ======================*/
.nav {
    padding: 12px 18%;
    background: var(--color-primary);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--color-border);

    a.nav__link {
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;

        img {
            width: 30px;
            height: 30px;
        }
    }

    div.nav__logo {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            font-size: 18px;
            font-weight: 600;
        }
    }

    div.nav__left, div.nav__right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    div.nav__left__link {
        display: flex;
        gap: 20px;
    }
}

/*======================= Container ======================*/
div.container {
}

div.contact__container {
    padding: 24px 18%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

    form {
        background-color: var(--color-background);
        box-shadow: 0 0 3px 0 var(--color-primary);
        padding: 24px 12px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .input__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input {
            width: 49%;
        }
    }

    input, textarea {
        width: 100%;
        padding: 7px 12px;
        resize: none;
        border-radius: 7px;
        outline: none;
        background-color: var(--color-background);
        border: 1px solid var(--color-border);
        color: var(--color-primary);
    }

    textarea {
        height: 100px;
    }

    button {
        padding: 7px 24px;
        border-radius: 7px;
        margin-top: 12px;
        transition: .2s ease-in-out;
        border: 1px solid var(--color-border);
        color: var(--color-primary);
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--color-border);
    }

    div.contact__infoline {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        .contact__info {
            width: 100%;
            background-color: var(--color-background);
            box-shadow: 0 0 3px 0 var(--color-primary);
            padding: 7px;
            text-align: center;
            border-radius: 12px;

            a {
                color: var(--color-primary);
                text-decoration: none;
            }
        }
    }
}

/*======================= Forms ======================*/
h1.form__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

form.auth__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: clamp(300px, 100%, 400px);
    margin: auto;
    background: var(--color-border);
    padding: 24px 12px;
    color: var(--color-primary);
    border-radius: 12px;
    box-shadow: 0 0 10px 0 var(--color-primary);

    div.form__group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-size: 14px;
            font-weight: 500;
            color: var(--color-primary);
        }

        p {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
        }

        a {
            font-size: 14px;
            font-weight: 500;
            color: var(--color-text);
            text-decoration: none;
        }

        input, select, textarea {
            padding: 7px 12px;
            outline: none;
            border: none;
            border-radius: 7px;
            background: var(--color-background);
            width: 100%;
            color: var(--color-text);
            font-size: 14px;
        }

        input:focus, select:focus, textarea:focus {
            box-shadow: 0 0 5px 0 var(--color-primary);
        }

        button {
            padding: 7px 12px;
            margin-top: 24px;
            outline: none;
            border: none;
            border-radius: 7px;
            background: var(--color-text);
            color: var(--color-background);
            font-size: 14px;
            cursor: pointer;
        }
    }
}

/*======================= Error ======================*/
span#error {
    color: var(--error-color);
    text-align: center;
}

/*======================= Success ======================*/
span#success {
    color: var(--success-color);
    text-align: center;
}