* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Thin", sans-serif;
}
body {
    background: #e6eaec;
    color: #0e2f44;
}
.nav {
    padding: 12px 18%;
    background: #0e2f44;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.nav__link {
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;

        img {
            width: 30px;
            height: 30px;
        }
    }

    a.nav__name {
        font-size: 17px;
        font-weight: 600;
    }

    div.nav__logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    div.nav__left, div.nav__right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    div.nav__left__link {
        display: flex;
        gap: 20px;
    }
}

div.container {
    padding: 48px 18%;
}